{% raw %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include 'partials/head.html' %}
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    {% include 'partials/modals.html' %}
    
    <!-- NAVBAR
    ================================================== -->
    {% include 'partials/navbar.html' %}

    <!-- FOOTER
    ================================================== -->
    {% include 'partials/footer.html' %}

    <!-- JAVASCRIPT
    ================================================== -->
    {% include 'partials/scripts.html' %}
      
  </body>
</html>{% endraw %}