<!doctype html>

{% load static %}

<html lang="en">

<head>
	{% include 'partials/head.html' %}
</head>

<body>

	<section>
		<div class="d-flex flex-column justify-content-center min-vh-100">
			<div class="d-flex flex-column">
				<div class="row d-flex justify-content-center align-items-center">
					<div class="col-12 col-md-6 col-lg-4">
						<h1>Settings</h1>
						<hr class="hr">
						<h2>Change Password</h2>

						{% if form.non_field_errors %}
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								{% for error in form.non_field_errors %}
									{{ error }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								{% endfor %}
							</div>
						{% endif %}

						<form method="POST">

							{% csrf_token %}

							{% for field in form %}
								<div class="form-group">
									
									<label>{{ field.label }}</label>
									{% if field.errors %}
										<input name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" class="form-control is-invalid" value="{{ field.value|default_if_none:'' }}">
										{% if field.help_text %}
											<small class="form-text text-muted">
												{{ field.help_text|safe }}
											</small>
										{% endif %}
										<div class="invalid-feedback">
											{{ field.errors }}
								      	</div>
								    {% else %}
								    	<input name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" class="form-control" value="{{ field.value|default_if_none:'' }}">
										{% if field.help_text %}
											<small class="form-text text-muted">
												{{ field.help_text|safe }}
											</small>
										{% endif %}
									{% endif %}
							        	
								</div>
							{% endfor %}

							<input class="btn btn-primary" type="submit" value="Change my password">
						</form>

						<hr>
						<a href="{% url 'content:main' %}">Back</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- JAVASCRIPT -->
	<!-- ================================================== -->
	{% include 'partials/scripts.html' %}

</body>

</html>