{% raw %}
{% load static %}
{% load svg %}

<!-- libs js -->
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/flickity/dist/flickity.pkgd.min.js' %}"></script>
<script src="{% static 'libs/flickity-fade/flickity-fade.js' %}"></script>
<script src="{% static 'libs/aos/dist/aos.js' %}"></script>
<script src="{% static 'libs/smooth-scroll/dist/smooth-scroll.min.js' %}"></script>
<script src="{% static 'libs/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'libs/jarallax/dist/jarallax-video.min.js' %}"></script>
<script src="{% static 'libs/jarallax/dist/jarallax-element.min.js' %}"></script>
<script src="{% static 'libs/typed.js/lib/typed.min.js' %}"></script>
<script src="{% static 'libs/countup.js/dist/countUp.min.js' %}"></script>
<script src="{% static 'libs/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<!-- map -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- theme js-->
<script src="{% static 'js/theme.min.js' %}"></script>

<!-- footer code -->
{{ footer_code|safe }}{% endraw %}